<h1>Welcome {{user}}</h1>
<button (click)="logOut()" class="btn btn-primary">LogOut</button>
<button (click)="AddQ()" class="btn btn-primary">Add Question</button>

<table class="table table-borderd">
  <thead>
      <tr>
          <th scope="col">Question</th>
          <th scope="col">Answers</th>
          <th scope="col">Actions</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let question of questions">
          <td scope="row">{{ question.quest }}</td>
          <td scope="row">{{ question.answers.length }}</td>
          <td scope="row"><a [routerLink]="['/questions', question._id]">Show</a>
            <a [routerLink]="['/questions', question._id, 'answer']">Answer</a>
          </td>
      </tr>
  </tbody>
</table>

<router-outlet></router-outlet>